In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('C:/Users/user/Downloads/Effects-of-COVID-19-on-trade-1-February-25-November-2020-provisional.csv')

In [4]:
df

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000
...,...,...,...,...,...,...,...,...,...,...,...
71722,Reimpor,2020,21/11/2020,Saturday,21/11/2020,All,All,All,$,0,167000000
71723,Reimpor,2020,22/11/2020,Sunday,22/11/2020,All,All,All,$,0,167000000
71724,Reimpor,2020,23/11/2020,Monday,23/11/2020,All,All,All,$,1000000,168000000
71725,Reimpor,2020,24/11/2020,Tuesday,24/11/2020,All,All,All,$,2000000,170000000
71726,Reimpor,2020,25/11/2020,Wednesday,25/11/2020,All,All,All,$,1000000,171000000

In [5]:
print (country_df.head())

NameError: name 'country_df' is not defined

In [6]:
country_df = df['country']

KeyError: 'country'

In [7]:
df

,Direction,Year,Date,Weekday,Current_Match,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,31/01/2015,Saturday,01/02/2020,All,All,All,$,257000000,257000000
1,Exports,2015,01/02/2015,Sunday,02/02/2020,All,All,All,$,123000000,380000000
2,Exports,2015,02/02/2015,Monday,03/02/2020,All,All,All,$,176000000,556000000
3,Exports,2015,03/02/2015,Tuesday,04/02/2020,All,All,All,$,115000000,671000000
4,Exports,2015,04/02/2015,Wednesday,05/02/2020,All,All,All,$,74000000,746000000
...,...,...,...,...,...,...,...,...,...,...,...
71722,Reimpor,2020,21/11/2020,Saturday,21/11/2020,All,All,All,$,0,167000000
71723,Reimpor,2020,22/11/2020,Sunday,22/11/2020,All,All,All,$,0,167000000
71724,Reimpor,2020,23/11/2020,Monday,23/11/2020,All,All,All,$,1000000,168000000
71725,Reimpor,2020,24/11/2020,Tuesday,24/11/2020,All,All,All,$,2000000,170000000
71726,Reimpor,2020,25/11/2020,Wednesday,25/11/2020,All,All,All,$,1000000,171000000

In [8]:
print (df.head())

  Direction  Year        Date    Weekday Current_Match Country Commodity  \
0   Exports  2015  31/01/2015   Saturday    01/02/2020     All       All
1   Exports  2015  01/02/2015     Sunday    02/02/2020     All       All
2   Exports  2015  02/02/2015     Monday    03/02/2020     All       All
3   Exports  2015  03/02/2015    Tuesday    04/02/2020     All       All
4   Exports  2015  04/02/2015  Wednesday    05/02/2020     All       All

  Transport_Mode Measure      Value  Cumulative
0            All       $  257000000   257000000
1            All       $  123000000   380000000
2            All       $  176000000   556000000
3            All       $  115000000   671000000
4            All       $   74000000   746000000

In [9]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71727 entries, 0 to 71726
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Direction       71727 non-null  object
 1   Year            71727 non-null  int64
 2   Date            71727 non-null  object
 3   Weekday         71727 non-null  object
 4   Current_Match   71727 non-null  object
 5   Country         71727 non-null  object
 6   Commodity       71727 non-null  object
 7   Transport_Mode  71727 non-null  object
 8   Measure         71727 non-null  object
 9   Value           71727 non-null  int64
 10  Cumulative      71727 non-null  int64
dtypes: int64(3), object(8)
memory usage: 6.0+ MB
None

In [10]:
print (country_df.head())

NameError: name 'country_df' is not defined

In [11]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71727 entries, 0 to 71726
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Direction       71727 non-null  object
 1   Year            71727 non-null  int64
 2   Date            71727 non-null  object
 3   Weekday         71727 non-null  object
 4   Current_Match   71727 non-null  object
 5   Country         71727 non-null  object
 6   Commodity       71727 non-null  object
 7   Transport_Mode  71727 non-null  object
 8   Measure         71727 non-null  object
 9   Value           71727 non-null  int64
 10  Cumulative      71727 non-null  int64
dtypes: int64(3), object(8)
memory usage: 6.0+ MB
None

In [12]:
df_country = df ['Country']

In [13]:
print (df_country.head())

0    All
1    All
2    All
3    All
4    All
Name: Country, dtype: object

In [14]:
print (df_country.tail())

71722    All
71723    All
71724    All
71725    All
71726    All
Name: Country, dtype: object

In [15]:
print(subset.tail)

NameError: name 'subset' is not defined

In [16]:
df_subset = df[['Country', 'Measure','Value']]

In [17]:
print(subset.head())

NameError: name 'subset' is not defined

In [18]:
print(subset.head)

NameError: name 'subset' is not defined

In [19]:
df_subset = df[['Country', 'Measure','Value']]

In [20]:
print(subset.head)

NameError: name 'subset' is not defined

In [21]:
subset = df[['Country', 'Measure','Value']]

In [22]:
print(subset.head())

  Country Measure      Value
0     All       $  257000000
1     All       $  123000000
2     All       $  176000000
3     All       $  115000000
4     All       $   74000000

In [23]:
print(subset.tail())

      Country Measure    Value
71722     All       $        0
71723     All       $        0
71724     All       $  1000000
71725     All       $  2000000
71726     All       $  1000000

In [24]:
print(df.loc[0])

Direction            Exports
Year                    2015
Date              31/01/2015
Weekday             Saturday
Current_Match     01/02/2020
Country                  All
Commodity                All
Transport_Mode           All
Measure                    $
Value              257000000
Cumulative         257000000
Name: 0, dtype: object

In [25]:
print(df.loc[30])

Direction            Exports
Year                    2015
Date              02/03/2015
Weekday               Monday
Current_Match     02/03/2020
Country                  All
Commodity                All
Transport_Mode           All
Measure                    $
Value              219000000
Cumulative        4750000000
Name: 30, dtype: object

In [26]:
print(df.loc[12])

Direction            Exports
Year                    2015
Date              12/02/2015
Weekday             Thursday
Current_Match     13/02/2020
Country                  All
Commodity                All
Transport_Mode           All
Measure                    $
Value              132000000
Cumulative        1801000000
Name: 12, dtype: object

In [27]:
print(df.tail(n=1))

      Direction  Year        Date    Weekday Current_Match Country Commodity  \
71726   Reimpor  2020  25/11/2020  Wednesday    25/11/2020     All       All

      Transport_Mode Measure    Value  Cumulative
71726            All       $  1000000   171000000

In [28]:
print(df.tail(n=2))

      Direction  Year        Date    Weekday Current_Match Country Commodity  \
71725   Reimpor  2020  24/11/2020    Tuesday    24/11/2020     All       All
71726   Reimpor  2020  25/11/2020  Wednesday    25/11/2020     All       All

      Transport_Mode Measure    Value  Cumulative
71725            All       $  2000000   170000000
71726            All       $  1000000   171000000

In [29]:
print(df.tail(n=3))

      Direction  Year        Date    Weekday Current_Match Country Commodity  \
71724   Reimpor  2020  23/11/2020     Monday    23/11/2020     All       All
71725   Reimpor  2020  24/11/2020    Tuesday    24/11/2020     All       All
71726   Reimpor  2020  25/11/2020  Wednesday    25/11/2020     All       All

      Transport_Mode Measure    Value  Cumulative
71724            All       $  1000000   168000000
71725            All       $  2000000   170000000
71726            All       $  1000000   171000000

In [30]:
print(df.loc[[0, 99, 999]])

    Direction  Year        Date    Weekday Current_Match Country Commodity  \
0     Exports  2015  31/01/2015   Saturday    01/02/2020     All       All
99    Exports  2015  10/05/2015     Sunday    10/05/2020     All       All
999   Exports  2018  16/05/2018  Wednesday    13/05/2020     All       All

    Transport_Mode Measure      Value   Cumulative
0              All       $  257000000    257000000
99             All       $  157000000  14555000000
999            All       $  195000000  16567000000

In [31]:
print(df.iloc[1])

Direction            Exports
Year                    2015
Date              01/02/2015
Weekday               Sunday
Current_Match     02/02/2020
Country                  All
Commodity                All
Transport_Mode           All
Measure                    $
Value              123000000
Cumulative         380000000
Name: 1, dtype: object

In [32]:
print(df.iloc[33])

Direction            Exports
Year                    2015
Date              05/03/2015
Weekday             Thursday
Current_Match     05/03/2020
Country                  All
Commodity                All
Transport_Mode           All
Measure                    $
Value              158000000
Cumulative        5197000000
Name: 33, dtype: object

In [33]:
print(df.iloc[-1])

Direction            Reimpor
Year                    2020
Date              25/11/2020
Weekday            Wednesday
Current_Match     25/11/2020
Country                  All
Commodity                All
Transport_Mode           All
Measure                    $
Value                1000000
Cumulative         171000000
Name: 71726, dtype: object

In [35]:
print(df.iloc[[0, 99, 999]])

    Direction  Year        Date    Weekday Current_Match Country Commodity  \
0     Exports  2015  31/01/2015   Saturday    01/02/2020     All       All
99    Exports  2015  10/05/2015     Sunday    10/05/2020     All       All
999   Exports  2018  16/05/2018  Wednesday    13/05/2020     All       All

    Transport_Mode Measure      Value   Cumulative
0              All       $  257000000    257000000
99             All       $  157000000  14555000000
999            All       $  195000000  16567000000

In [38]:
subset = df.loc[:, ['year', 'date']]

KeyError: "None of [Index(['year', 'date'], dtype='object')] are in the [columns]"

In [39]:
subset = df.loc[:, ['Year', 'Date']]

In [40]:
print(subset.head())

   Year        Date
0  2015  31/01/2015
1  2015  01/02/2015
2  2015  02/02/2015
3  2015  03/02/2015
4  2015  04/02/2015

In [41]:
print(subset.tail())

       Year        Date
71722  2020  21/11/2020
71723  2020  22/11/2020
71724  2020  23/11/2020
71725  2020  24/11/2020
71726  2020  25/11/2020

In [42]:
subset = df.loc[:, ['Year']]

In [43]:
print(subset.head())

   Year
0  2015
1  2015
2  2015
3  2015
4  2015

In [44]:
print(subset.tail[0, 99, 999])

TypeError: 'method' object is not subscriptable

In [45]:
print(subset(0, 99, 999))

TypeError: 'DataFrame' object is not callable

In [46]:
print(subset.head())

   Year
0  2015
1  2015
2  2015
3  2015
4  2015

In [47]:
print(subset.tail())

       Year
71722  2020
71723  2020
71724  2020
71725  2020
71726  2020

In [48]:
subset = df.loc[:, ['Year' , 'Date']]

In [49]:
subset.head()

   Year        Date
0  2015  31/01/2015
1  2015  01/02/2015
2  2015  02/02/2015
3  2015  03/02/2015
4  2015  04/02/2015

In [50]:
subset.tail()

       Year        Date
71722  2020  21/11/2020
71723  2020  22/11/2020
71724  2020  23/11/2020
71725  2020  24/11/2020
71726  2020  25/11/2020

In [52]:
subset = df.iloc[:, [2, 4, -1]]

In [53]:
subset.head()

         Date Current_Match  Cumulative
0  31/01/2015    01/02/2020   257000000
1  01/02/2015    02/02/2020   380000000
2  02/02/2015    03/02/2020   556000000
3  03/02/2015    04/02/2020   671000000
4  04/02/2015    05/02/2020   746000000

In [54]:
subset.tail()

             Date Current_Match  Cumulative
71722  21/11/2020    21/11/2020   167000000
71723  22/11/2020    22/11/2020   167000000
71724  23/11/2020    23/11/2020   168000000
71725  24/11/2020    24/11/2020   170000000
71726  25/11/2020    25/11/2020   171000000